# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:



number = 6

print(number)

6

##### Assinging float

In [2]:
number_float = 2.3
print(number_float)
number_float = 7.2
print(number_float)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2
print(result)

7.4

##### Subtraction

In [4]:


result_diff = num2 - num1
print(result_diff)

result_diff -= 1 
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [5]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [6]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [7]:
result_floor = num2 // num1
print(result_floor)

2.0

##### Modulo

In [8]:
result_mod = 10 % 3
print(result_mod)

1

##### Exponential

In [9]:
square = 5**2
print(square)

square**= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [10]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [11]:
print("this is my first name: ", name)

print("Full Name:", name, end=" Apol")

this is my first name:  Brandon
Full Name: Brandon Apol

##### String Concatenation

In [12]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name 
print(full_name)

John Smith

##### Type Conversion

In [13]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [14]:


age = int(input("What is your age:"))
add_age = age + 5
print(add_age)

What is your age:10
15

##### format()

In [15]:
age = input("What is your age? " )

result = f"{age} is a great time in life!!"
print(result)

What is your age? 21
21 is a great time in life!!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [16]:
color = input("What is the color of you car? ")
year = input("What is the year of you car? ")
model = input("What is the model of you car? ")


print(f"You drive a {year} {color} {model}, and probably drive it too fast!!!!")

What is the color of you car? gold
What is the year of you car? 2005
What is the model of you car?
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }honda accord
You drive a 2005 gold honda accord, and probably drive it too fast!!!!

### If Statements

In [17]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

if num1 == 5:
    print("Equal Values")
else:
    print("Not Equal Values")
    
if num2 < num1 or num3 > 0:
    print("This Ran")
else:
    print("You are here")

Equal Values
You are here

##### 'is' keyword

In [18]:
# the is keyword is for checking for the same object but not for the same value

num3 = "55"

if num3 == 55:
    print("This is the exact number/object")

##### 'in' keyword

In [19]:
# check if charachter is in a name

char_name = "Frodo Baggins"

if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [20]:
# not in

sega_char = "Sonic"
if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [21]:
name = input("What is your favorite teaches name? ")
if 'p' in name:
    print( name + " has at least 1 p in their name.")

What is your favorite teaches name? plum
plum has at least 1 p in their name.

## Using 'and'/'or' with If Statements

In [22]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with and statement 
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# if with or statement 
if num_11 > num_12 or num_13 == num_14:
    print('True and False')

True and True
True and False

### Elif Statements

In [23]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print("The name is Smith")
elif first_name == "Brandon":
    print('The name is Brandon')
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

What is your name? max
The name is NOT Max

### Else Statements

In [24]:
# see above

### For Loops

In [25]:
# syntax
# for counter in condition

name = "Joe Walsh"
a_list = [1, 2, 3, 4]
# name = [5, 6, 7, 8]


for i in a_list:
    print(i)

1
2
3
4

##### Using 'in' keyword

In [26]:
# see above

##### Continue Statement

In [27]:
# will continue to next iteration, basically skips

In [28]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [29]:
# will break out of current loop

In [30]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [31]:
# mostly used as a placeholder, and will continue on same iteration

In [32]:
name = "Joe Walsh"

for i in name:
    pass

##### Double For Loops

In [33]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [34]:
#syntax
# while keyword, condition statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [37]:
#not good practice

game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input('Would you like to stop?')
    break

Infinite Loop
Would you like to stop?yes

##### While & For Loops Used Together

In [38]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("for loop iteration ", str(i))
        
        num += 1

 While loop iteration: 0
for loop iteration  0
for loop iteration  1

 While loop iteration: 2
for loop iteration  0
for loop iteration  1

 While loop iteration: 4
for loop iteration  0
for loop iteration  1

### Built-In Functions

##### range()

In [39]:
# range( start, stop, step)

for i in range(2, 20, 2):
    print (i)

2
4
6
8
10
12
14
16
18

##### len()

In [42]:
#length will check the length of a variable

name = input("Give me the name of your favorite book? ")

length = len(name)
print(length)

KeyboardInterrupt: Interrupted by user

##### help()

In [ ]:
# Use this function to view more info about a python function
help(range)

##### isinstance()

In [ ]:
# check a variable to find out what object family or data type it belongs to
# isinstance(var, type)
num = input("Pick a number: ")
if isinstance(int(num), int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")


#if isinstance(4.5, float):
#    print("This number is a float type")

##### abs()

In [ ]:
# /-5/ = 5; absolute value

print(abs(-5))

### Try and Except

In [ ]:
# use this to log out graceful and useful error messages
# Does not stop the program 

try:
    input_num = int(input("Guess a number "))
    print("Your number is: " + str(input_num))
except:
    print("That didn't work! Change your input to a number!")

### Lists

##### Declaring Lists

In [45]:
list_1 = []

names = [ 'max', 'cindy', 'kathy', 'bob', 'nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [46]:
# list_name[start:stop:step]

#single Index
print(names[0])

# print starting at index 1 going to the end
print(names[1:])

#print starting at the beggining of list up until a number
print(names[:2])

#Print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

max
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [47]:
names.append("Brandon")
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'Brandon']

##### .insert()

In [48]:
names.insert(3, "Joseph")
print(names)

['max', 'cindy', 'kathy', 'Joseph', 'bob', 'nate', 'Brandon']

##### .pop()

In [49]:
#defaults to last value if no parameter is given
#Pop returns the that was removed in case you want to assign it to a variable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'Joseph', 'bob', 'nate', 'Brandon']


##### .remove()

In [50]:
# value to be removed rather than index

#names.remove('bob')
#print(names)

#remove multiple Brandons
while 'Brandon' in names:
    names.remove('Brandon')
print(names)

['max', 'cindy', 'Joseph', 'bob', 'nate']

##### del()

In [51]:
# goes by index
# Be careful with it because it can cause indexing errors

del(names[1])
print(names)

['max', 'Joseph', 'bob', 'nate']

##### Concatenating Two Lists

In [52]:
# will append two lists together and will NOT add the values

list_2 = [0,1,2]
list_3 = [4,5,6]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 4, 5, 6]

##### Lists Within Lists

In [53]:
# Lists can hold ANY type of other element! including other lists!
# THey can go as deep as you want; This is called nested lists

names = ["max", "sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)
print(names[3])
print(names[3][1])

['max', 'sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
['Sally', 'Sue', 'Tameka']
Sue

##### Looping Through Lists

In [54]:
# Two ways to loop through list! one is by index, the other is by using the 'in' keyword

# by index
for i in range(len(names)):
    print(names[i])

#loop with 'in'
for i in names:
    print(i)

max
sam
Josh
['Sally', 'Sue', 'Tameka']
max
sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [71]:
for num in range(100):
    num = num**3
    print(num)
    if num >= 1000:
        break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [89]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for number in range (1, 101): # setting range up from 1- 100
    count = 0 # assign variable count to zero
    for i in range(2, (number//2 + 1)): #set up another for loop where we set the range from 2 to the previous for loop the floor divide by 2 and + 1
        if(number % i == 0): # then we use the if statement and the modulo operator to find out if the two ranges have a  remainder is 0
            count = count + 1 # if the number modulo i has a remainder and will add 1 to the count then break the loop, otherwise it will take the prime number and print it out
            break

    if (count == 0 and number != 1): # needed another if statement to maake sure the count was == 0 otherwise it would print every number and it didn't include 1, because 1 is not a prime number
        print(number, end = '  ')

    
# I needed google help for this one, that is why there is so much explanation, the other two I was able to get fairly quickly

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [73]:
age = input("What is your age? ")

if int(age) < 18:
    print("kids")
elif int(age) > 18 and int(age) <= 65:
    print("adults")
else:
    print("seniors")

What is your age? 11
kids